In [14]:
import pandas as pd

In [15]:
income_df = pd.read_csv("resources/income_median.csv")
rent_df = pd.read_csv("resources/rent_median.csv")
mortgage_df = pd.read_csv("resources/mortgage_median.csv")

In [16]:
income_df

     Unnamed: 0                                 SA2 Name       Median
0             0                     Dawesville - Bouvard  1584.677419
1             1                        Falcon - Wannanup  1486.918605
2             2                              Greenfields  1192.934783
3             3                     Halls Head - Erskine  1627.840909
4             4                                 Mandurah  1189.174107
..          ...                                      ...          ...
147         147                               Rockingham  1469.791667
148         148                  Safety Bay - Shoalwater  1669.254658
149         149  Singleton - Golden Bay - Secret Harbour  2219.629630
150         150                                  Waikiki  1776.376147
151         151                                  Warnbro  1615.327381

[152 rows x 3 columns]

In [17]:
combine_df = pd.merge(income_df,rent_df,on="SA2 Name", how="inner")
combine_all_df = pd.merge(combine_df, mortgage_df, on="SA2 Name", how="inner")

In [18]:
suburb_df = combine_all_df[["SA2 Name","Median_x","Median_y","weekly repayment(median)"]]

In [19]:
suburb_df.columns =[["SA2 Name","median_income","median_rent","median_mortgage_repayment"]]

In [20]:
suburb_df

,SA2 Name,median_income,median_rent,median_mortgage_repayment
0,Dawesville - Bouvard,1584.677419,358.955224,467.842236
1,Falcon - Wannanup,1486.918605,342.460317,443.090411
2,Greenfields,1192.934783,306.119792,359.553526
3,Halls Head - Erskine,1627.840909,360.374494,454.794521
4,Mandurah,1189.174107,290.353881,355.846222
...,...,...,...,...
143,Rockingham,1469.791667,305.313589,394.715213
144,Safety Bay - Shoalwater,1669.254658,314.106145,425.851774
145,Singleton - Golden Bay - Secret Harbour,2219.629630,391.158537,491.695689
146,Waikiki,1776.376147,350.290698,413.245980
147,Warnbro,1615.327381,339.320388,394.160058

Affordable Housing Index (HIA Housing Affordability Index Methodology)

https://hia.com.au/-/media/HIA-Website/Files/IndustryBusiness/Economic/publications/affordability-index-methodology.ashx

Usign Mortgage repayment:
Affordability Index(Mortgage repayments) = (Weekly Earnings x 100) / Qualifying Income

Qualifying Income = Mortgage Repayments / 30%

* This time usign median insted of average as average has more impact from outlier.

In [21]:
suburb_df["qualyfing_income(mortgage)"] = suburb_df.iloc[:,3] / 0.3
suburb_df["affordability_index(mortgage)"] = suburb_df.iloc[:,1] * 100 /  suburb_df.iloc[:,4]

C:\Users\khiro\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\khiro\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
suburb_df["qualyfing_income(rent)"] = suburb_df.iloc[:,2] / 0.3
suburb_df["affordability_index(rent)"] = suburb_df.iloc[:,1] * 100 /  suburb_df.iloc[:,6]

C:\Users\khiro\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
suburb_df.to_csv("resources/affordability.csv")