In [45]:
import pandas as pd
%matplotlib widget
import matplotlib.pyplot as plt

import scipy.stats as st
import numpy as np

In [77]:
income_df = pd.read_csv("resources/income_median.csv")
rent_df = pd.read_csv("resources/rent_median.csv")
mortgage_df = pd.read_csv("resources/mortgage_median.csv")
perth_median_income_df= pd.read_csv("resources/greater_perth_income.csv")
unemployment_df = pd.read_csv("resources/unemployment_rate.csv")
unoccupied_df = pd.read_csv("resources/unoccupied_rate.csv")
building_df = pd.read_csv("resources/building_approval.csv")

In [78]:
income_df

     Unnamed: 0                                 SA2 Name       Median
0             0                     Dawesville - Bouvard  1584.677419
1             1                        Falcon - Wannanup  1486.918605
2             2                              Greenfields  1192.934783
3             3                     Halls Head - Erskine  1627.840909
4             4                                 Mandurah  1189.174107
..          ...                                      ...          ...
147         147                               Rockingham  1469.791667
148         148                  Safety Bay - Shoalwater  1669.254658
149         149  Singleton - Golden Bay - Secret Harbour  2219.629630
150         150                                  Waikiki  1776.376147
151         151                                  Warnbro  1615.327381

[152 rows x 3 columns]

In [79]:
perth_median_icnome = perth_median_income_df["Median"].values[0]

In [80]:
df_0 = pd.merge(income_df,rent_df,on="SA2 Name", how="inner")
df_1 = pd.merge(df_0, mortgage_df, on="SA2 Name", how="inner") 
df_2 = pd.merge(df_1, unemployment_df, on="SA2 Name", how="inner") 
df_3 = pd.merge(df_2, unoccupied_df, on="SA2 Name", how="inner") 
combine_all_df = pd.merge(df_3, building_df, on="SA2 Name", how="inner") 
combine_all_df

,Unnamed: 0_x,SA2 Name,Median_x,Unnamed: 0_y,Median_y,Unnamed: 0_x,Median,weekly repayment(median),Unnamed: 0_y,unemployment_rate,Unnamed: 0_x,unoccupied_rate,Unnamed: 0_y,building_approval
0,0,Dawesville - Bouvard,1584.677419,0,358.955224,0,2032.885906,467.842236,0,0.106252,0,0.263536,0,136.0
1,1,Falcon - Wannanup,1486.918605,1,342.460317,1,1925.333333,443.090411,1,0.104274,1,0.314557,1,105.0
2,2,Greenfields,1192.934783,2,306.119792,2,1562.345679,359.553526,2,0.129066,2,0.118692,2,20.0
3,3,Halls Head - Erskine,1627.840909,3,360.374494,3,1976.190476,454.794521,3,0.095285,3,0.198820,3,195.0
4,4,Mandurah,1189.174107,4,290.353881,4,1546.236559,355.846222,4,0.140815,4,0.284392,4,111.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,147,Rockingham,1469.791667,143,305.313589,146,1715.131579,394.715213,161,0.106439,157,0.160805,167,31.0
144,148,Safety Bay - Shoalwater,1669.254658,144,314.106145,147,1850.427350,425.851774,162,0.102950,159,0.165831,169,30.0
145,149,Singleton - Golden Bay - Secret Harbour,2219.629630,145,391.158537,148,2136.534840,491.695689,163,0.087339,160,0.117947,170,222.0
146,150,Waikiki,1776.376147,146,350.290698,149,1795.652174,413.245980,164,0.100249,161,0.103035,171,54.0
147,151,Warnbro,1615.327381,147,339.320388,150,1712.719298,394.160058,165,0.122287,162,0.096471,172,5.0

In [81]:
suburb_df = combine_all_df[["SA2 Name","Median_x","Median_y","weekly repayment(median)","unemployment_rate","unoccupied_rate","building_approval"]]

In [82]:
suburb_df.columns =[["SA2 Name","median_income of suburb","median_rent","median_mortgage_repayment","unemployment_rate","unoccupied_rate","yearly building_approval"]]

In [83]:
suburb_df["Greater Perth median income"] = perth_median_icnome
suburb_df

C:\Users\khiro\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,SA2 Name,median_income of suburb,median_rent,median_mortgage_repayment,unemployment_rate,unoccupied_rate,yearly building_approval,Greater Perth median income
0,Dawesville - Bouvard,1584.677419,358.955224,467.842236,0.106252,0.263536,136.0,2333.167481
1,Falcon - Wannanup,1486.918605,342.460317,443.090411,0.104274,0.314557,105.0,2333.167481
2,Greenfields,1192.934783,306.119792,359.553526,0.129066,0.118692,20.0,2333.167481
3,Halls Head - Erskine,1627.840909,360.374494,454.794521,0.095285,0.198820,195.0,2333.167481
4,Mandurah,1189.174107,290.353881,355.846222,0.140815,0.284392,111.0,2333.167481
...,...,...,...,...,...,...,...,...
143,Rockingham,1469.791667,305.313589,394.715213,0.106439,0.160805,31.0,2333.167481
144,Safety Bay - Shoalwater,1669.254658,314.106145,425.851774,0.102950,0.165831,30.0,2333.167481
145,Singleton - Golden Bay - Secret Harbour,2219.629630,391.158537,491.695689,0.087339,0.117947,222.0,2333.167481
146,Waikiki,1776.376147,350.290698,413.245980,0.100249,0.103035,54.0,2333.167481
147,Warnbro,1615.327381,339.320388,394.160058,0.122287,0.096471,5.0,2333.167481

Affordable Housing Index (HIA Housing Affordability Index Methodology)

https://hia.com.au/-/media/HIA-Website/Files/IndustryBusiness/Economic/publications/affordability-index-methodology.ashx

Usign Mortgage repayment:
Affordability Index(Mortgage repayments) = (Weekly Earnings x 100) / Qualifying Income

Qualifying Income = Mortgage Repayments / 30%

* This time usign median insted of average as average has more impact from outlier.

In [84]:
suburb_df["qualyfing_income(mortgage)"] = suburb_df.iloc[:,3] / 0.3
suburb_df["affordability_index(mortgage)"] = suburb_df.iloc[:,7] * 100 /  suburb_df.iloc[:,8]

C:\Users\khiro\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\khiro\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [85]:
suburb_df["qualyfing_income(rent)"] = suburb_df.iloc[:,2] / 0.3
suburb_df["affordability_index(rent)"] = suburb_df.iloc[:,7] * 100 /  suburb_df.iloc[:,10]

C:\Users\khiro\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\khiro\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [86]:
suburb_df

,SA2 Name,median_income of suburb,median_rent,median_mortgage_repayment,unemployment_rate,unoccupied_rate,yearly building_approval,Greater Perth median income,qualyfing_income(mortgage),affordability_index(mortgage),qualyfing_income(rent),affordability_index(rent)
0,Dawesville - Bouvard,1584.677419,358.955224,467.842236,0.106252,0.263536,136.0,2333.167481,1559.474120,149.612453,1196.517413,194.996534
1,Falcon - Wannanup,1486.918605,342.460317,443.090411,0.104274,0.314557,105.0,2333.167481,1476.968037,157.970073,1141.534392,204.388716
2,Greenfields,1192.934783,306.119792,359.553526,0.129066,0.118692,20.0,2333.167481,1198.511754,194.672057,1020.399306,228.652398
3,Halls Head - Erskine,1627.840909,360.374494,454.794521,0.095285,0.198820,195.0,2333.167481,1515.981735,153.904722,1201.248313,194.228575
4,Mandurah,1189.174107,290.353881,355.846222,0.140815,0.284392,111.0,2333.167481,1186.154073,196.700204,967.846271,241.067983
...,...,...,...,...,...,...,...,...,...,...,...,...
143,Rockingham,1469.791667,305.313589,394.715213,0.106439,0.160805,31.0,2333.167481,1315.717376,177.330445,1017.711963,229.256171
144,Safety Bay - Shoalwater,1669.254658,314.106145,425.851774,0.102950,0.165831,30.0,2333.167481,1419.505913,164.364760,1047.020484,222.838762
145,Singleton - Golden Bay - Secret Harbour,2219.629630,391.158537,491.695689,0.087339,0.117947,222.0,2333.167481,1638.985631,142.354359,1303.861789,178.942853
146,Waikiki,1776.376147,350.290698,413.245980,0.100249,0.103035,54.0,2333.167481,1377.486599,169.378597,1167.635659,199.819821
147,Warnbro,1615.327381,339.320388,394.160058,0.122287,0.096471,5.0,2333.167481,1313.866859,177.580206,1131.067961,206.280043

In [87]:
suburb_df.to_csv("resources/affordability.csv")

# Rent vs Mortgage repayment

In [88]:
def regression(x,y):
    (slope, intercept,r_value,p_value,std_err) = st.linregress(x,y)
    return (slope, intercept,r_value,p_value,std_err)

suburb_df.iloc[:,2]

0      358.955224
1      342.460317
2      306.119792
3      360.374494
4      290.353881
          ...
143    305.313589
144    314.106145
145    391.158537
146    350.290698
147    339.320388
Name: (median_rent,), Length: 148, dtype: float64

In [89]:
x =suburb_df.iloc[:,2]
y =suburb_df.iloc[:,5]

slope = regression(x,y)[0]
intercept = regression(x,y)[1]
r2 = regression(x,y)[2] **2

fig, ax = plt.subplots()
ax.scatter(x=x, y=y,marker="o",edgecolors="black")    
ax.plot(x,slope*x +intercept,color="red")
ax.text(400,slope*400+intercept-100,'y='+str(round(slope,4)) + 'x +' +str(round(intercept,4)) + "     R2 =" +str(round(r2,4)),color="red")
ax.grid()
ax.set_xlabel("Rent(AUD/weekly)")
ax.set_ylabel("Mortgage Repayment(AUD/weekly")
ax.set_title("Rent vs Mortgage repayment in Greater Perth")
plt.tight_layout()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [ ]:
# Rent vs Unemployment Rate

In [92]:
x =suburb_df.iloc[:,2]
y =suburb_df.iloc[:,4]

slope = regression(x,y)[0]
intercept = regression(x,y)[1]
r2 = regression(x,y)[2] **2

fig1, ax1 = plt.subplots()
ax1.scatter(x=x, y=y,marker="o",edgecolors="black")    
ax1.plot(x,slope*x +intercept,color="red")
ax1.text(400,slope*400+intercept,'y='+str(round(slope,4)) + 'x +' +str(round(intercept,4)) + "     R2 =" +str(round(r2,4)),color="red")
ax1.grid()
ax1.set_xlabel("Rent(AUD/weekly)")
ax1.set_ylabel("Unemployment Rate")
ax1.set_title("Rent vs Unemployment Rate in Greater Perth")
plt.tight_layout()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

# Rent vs Unoccupied Rate

In [93]:
x =suburb_df.iloc[:,2]
y =suburb_df.iloc[:,5]

slope = regression(x,y)[0]
intercept = regression(x,y)[1]
r2 = regression(x,y)[2] **2

fig1, ax1 = plt.subplots()
ax1.scatter(x=x, y=y,marker="o",edgecolors="black")    
ax1.plot(x,slope*x +intercept,color="red")
ax1.text(400,slope*400+intercept,'y='+str(round(slope,4)) + 'x +' +str(round(intercept,4)) + "     R2 =" +str(round(r2,4)),color="red")
ax1.grid()
ax1.set_xlabel("Rent(AUD/weekly)")
ax1.set_ylabel("Unoccupied Rate")
ax1.set_title("Rent vs Unoccupied Rate in Greater Perth")
plt.tight_layout()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

# Rent vs Building Approval number

In [95]:
x =suburb_df.iloc[:,2]
y =suburb_df.iloc[:,6]

slope = regression(x,y)[0]
intercept = regression(x,y)[1]
r2 = regression(x,y)[2] **2

fig1, ax1 = plt.subplots()
ax1.scatter(x=x, y=y,marker="o",edgecolors="black")    
ax1.plot(x,slope*x +intercept,color="red")
ax1.text(400,slope*400+intercept,'y='+str(round(slope,4)) + 'x +' +str(round(intercept,4)) + "     R2 =" +str(round(r2,4)),color="red")
ax1.grid()
ax1.set_xlabel("Rent(AUD/weekly)")
ax1.set_ylabel("Building Approval")
ax1.set_title("Rent vs Building Approval in Greater Perth")
plt.tight_layout()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [ ]:
# Income vs Rent

In [97]:
x =suburb_df.iloc[:,1]
y =suburb_df.iloc[:,2]

slope = regression(x,y)[0]
intercept = regression(x,y)[1]
r2 = regression(x,y)[2] **2

fig1, ax1 = plt.subplots()
ax1.scatter(x=x, y=y,marker="o",edgecolors="black")    
ax1.plot(x,slope*x +intercept,color="red")
ax1.text(2000,slope*2000+intercept+200,'y='+str(round(slope,4)) + 'x +' +str(round(intercept,4)) + "     R2 =" +str(round(r2,4)),color="red")
ax1.grid()
ax1.set_xlabel("House Hold Income(AUD/weekly)")
ax1.set_ylabel("Rent(AUD/weekly)")
ax1.set_title("Income  vs Rent in Greater Perth")
plt.tight_layout()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦