In [45]:
import pandas as pd
%matplotlib widget
import matplotlib.pyplot as plt

import scipy.stats as st
import numpy as np

In [35]:
income_df = pd.read_csv("resources/income_median.csv")
rent_df = pd.read_csv("resources/rent_median.csv")
mortgage_df = pd.read_csv("resources/mortgage_median.csv")
perth_median_income_df= pd.read_csv("resources/greater_perth_income.csv")

In [ ]:
income_df

In [36]:
perth_median_icnome = perth_median_income_df["Median"].values[0]

In [37]:
combine_df = pd.merge(income_df,rent_df,on="SA2 Name", how="inner")
combine_all_df = pd.merge(combine_df, mortgage_df, on="SA2 Name", how="inner")

In [38]:
suburb_df = combine_all_df[["SA2 Name","Median_x","Median_y","weekly repayment(median)"]]

In [39]:
suburb_df.columns =[["SA2 Name","median_income of suburb","median_rent","median_mortgage_repayment"]]

In [40]:
suburb_df["Greater Perth median income"] = perth_median_icnome
suburb_df

C:\Users\khiro\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,SA2 Name,median_income of suburb,median_rent,median_mortgage_repayment,Greater Perth median income
0,Dawesville - Bouvard,1584.677419,358.955224,467.842236,2333.167481
1,Falcon - Wannanup,1486.918605,342.460317,443.090411,2333.167481
2,Greenfields,1192.934783,306.119792,359.553526,2333.167481
3,Halls Head - Erskine,1627.840909,360.374494,454.794521,2333.167481
4,Mandurah,1189.174107,290.353881,355.846222,2333.167481
...,...,...,...,...,...
143,Rockingham,1469.791667,305.313589,394.715213,2333.167481
144,Safety Bay - Shoalwater,1669.254658,314.106145,425.851774,2333.167481
145,Singleton - Golden Bay - Secret Harbour,2219.629630,391.158537,491.695689,2333.167481
146,Waikiki,1776.376147,350.290698,413.245980,2333.167481
147,Warnbro,1615.327381,339.320388,394.160058,2333.167481

Affordable Housing Index (HIA Housing Affordability Index Methodology)

https://hia.com.au/-/media/HIA-Website/Files/IndustryBusiness/Economic/publications/affordability-index-methodology.ashx

Usign Mortgage repayment:
Affordability Index(Mortgage repayments) = (Weekly Earnings x 100) / Qualifying Income

Qualifying Income = Mortgage Repayments / 30%

* This time usign median insted of average as average has more impact from outlier.

In [41]:
suburb_df["qualyfing_income(mortgage)"] = suburb_df.iloc[:,3] / 0.3
suburb_df["affordability_index(mortgage)"] = suburb_df.iloc[:,4] * 100 /  suburb_df.iloc[:,5]

C:\Users\khiro\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\khiro\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [42]:
suburb_df["qualyfing_income(rent)"] = suburb_df.iloc[:,2] / 0.3
suburb_df["affordability_index(rent)"] = suburb_df.iloc[:,4] * 100 /  suburb_df.iloc[:,7]

In [43]:
suburb_df.to_csv("resources/affordability.csv")

# Rent vs Mortgage repayment

In [49]:
def regression(x,y):
    (slope, intercept,r_value,p_value,std_err) = st.linregress(x,y)
    return (slope, intercept,r_value,p_value,std_err)

suburb_df.iloc[:,2]

0      358.955224
1      342.460317
2      306.119792
3      360.374494
4      290.353881
          ...
143    305.313589
144    314.106145
145    391.158537
146    350.290698
147    339.320388
Name: (median_rent,), Length: 148, dtype: float64

In [51]:
x =suburb_df.iloc[:,2]
y =suburb_df.iloc[:,3]

slope = regression(x,y)[0]
intercept = regression(x,y)[1]
r2 = regression(x,y)[2] **2

fig, ax = plt.subplots()
ax.scatter(x=x, y=y,marker="o",edgecolors="black")    
ax.plot(x,slope*x +intercept,color="red")
ax.text(400,slope*400+intercept-100,'y='+str(round(slope,4)) + 'x +' +str(round(intercept,4)) + "     R2 =" +str(round(r2,4)),color="red")
ax.grid()
ax.set_xlabel("Rent(AUD/weekly)")
ax.set_ylabel("Mortgage Repayment(AUD/weekly")
ax.set_title("Rent vs Mortgage repayment in Greater Perth")
plt.tight_layout()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …