In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import json

In [11]:
# Get Statistic Area level 2 information from csv file
sa2_df = pd.read_csv("resources/SA2_2016_AUST.csv")

# Filter the information to show Greater Perth Only
sa2_perth_df = sa2_df[sa2_df["GCCSA_NAME_2016"] == "Greater Perth"]

sa2_perth_df.head()

,SA2_MAINCODE_2016,SA2_5DIGITCODE_2016,SA2_NAME_2016,SA3_CODE_2016,SA3_NAME_2016,SA4_CODE_2016,SA4_NAME_2016,GCCSA_CODE_2016,GCCSA_NAME_2016,STATE_CODE_2016,STATE_NAME_2016,AREA_ALBERS_SQKM
1768,502011021,51021,Dawesville - Bouvard,50201,Mandurah,502,Mandurah,5GPER,Greater Perth,5,Western Australia,97.9248
1769,502011022,51022,Falcon - Wannanup,50201,Mandurah,502,Mandurah,5GPER,Greater Perth,5,Western Australia,9.5893
1770,502011023,51023,Greenfields,50201,Mandurah,502,Mandurah,5GPER,Greater Perth,5,Western Australia,9.9609
1771,502011024,51024,Halls Head - Erskine,50201,Mandurah,502,Mandurah,5GPER,Greater Perth,5,Western Australia,14.2469
1772,502011025,51025,Mandurah,50201,Mandurah,502,Mandurah,5GPER,Greater Perth,5,Western Australia,8.3954

In [12]:
# Store information into the dictionaly
unemployment_dict = {"SA2 Name":[],"unemployment_rate":[]}

#   Data:  One family household with only family members present
for code in sa2_perth_df["SA2_MAINCODE_2016"]:
    try:
        abs_url = f"http://stat.data.abs.gov.au/sdmx-json/data/ABS_C16_G43_SA/TOT.3.EMP+UEMP.5.SA2.{code}/all?detail=Full&dimensionAtObservation=AllDimensions"
        response = requests.get(abs_url)
        data = response.json()
        unemployment_dict["unemployment_rate"].append(data["dataSets"][0]["observations"]["0:0:1:0:0:0:0"][0]
                                                  /(data["dataSets"][0]["observations"]["0:0:0:0:0:0:0"][0]+data["dataSets"][0]["observations"]["0:0:1:0:0:0:0"][0]))
        unemployment_dict["SA2 Name"].append(sa2_perth_df.loc[sa2_perth_df["SA2_MAINCODE_2016"]==code,"SA2_NAME_2016"].values[0])
    except:
        print(f'{sa2_perth_df.loc[sa2_perth_df["SA2_MAINCODE_2016"]==code,"SA2_NAME_2016"].values[0]} has no available data')

Melaleuca - Lexia has no available data
Walyunga National Park has no available data
Herdsman has no available data
Perth Airport has no available data
Canning Vale Commercial has no available data
Bibra Lake has no available data
Rockingham Lakes has no available data

In [18]:
unemploy_df = pd.DataFrame(unemployment_dict)

In [19]:
# Rename the columns to see the data more easily
unemploy_df.to_csv("resources/unemployment_rate.csv")

Unoccupied Dwelling rate

In [20]:
unoccupied_dict = {"SA2 Name":[],"unoccupied_rate":[]}

#   Data:  One family household with only family members present
for code in sa2_perth_df["SA2_MAINCODE_2016"]:
    try:
        abs_url = f"http://stat.data.abs.gov.au/sdmx-json/data/ABS_C16_T24_SA/1+2.TOT.5.SA2.{code}/all?detail=Full&dimensionAtObservation=AllDimensions"
        response = requests.get(abs_url)
        data = response.json()
        unoccupied_dict["unoccupied_rate"].append(data["dataSets"][0]["observations"]["1:0:0:0:0:0"][0]
                                                  /(data["dataSets"][0]["observations"]["0:0:0:0:0:0"][0]+data["dataSets"][0]["observations"]["1:0:0:0:0:0"][0]))
        unoccupied_dict["SA2 Name"].append(sa2_perth_df.loc[sa2_perth_df["SA2_MAINCODE_2016"]==code,"SA2_NAME_2016"].values[0])
    except:
        print(f'{sa2_perth_df.loc[sa2_perth_df["SA2_MAINCODE_2016"]==code,"SA2_NAME_2016"].values[0]} has no available data')

Avon Valley National Park has no available data
Melaleuca - Lexia has no available data
Walyunga National Park has no available data
Herdsman has no available data
Osborne Park Industrial has no available data
Ashendon - Lesley has no available data
Perth Airport has no available data
Canning Vale Commercial has no available data
Bibra Industrial has no available data
Bibra Lake has no available data

In [21]:
unoccupied_df = pd.DataFrame(unoccupied_dict)

In [22]:
unoccupied_df.to_csv("resources/unoccupied_rate.csv")

Building Apporval

In [29]:
# Store information into the dictionaly
building_dict = {"SA2 Name":[],"building_approval":[]}

#   Data:  One family household with only family members present
for code in sa2_perth_df["SA2_MAINCODE_2016"]:
    abs_url = f"http://stat.data.abs.gov.au/sdmx-json/data/ABS_BA_SA2_ASGS2016/1.9.1.100.SA2.{code}.M/all?detail=Full&dimensionAtObservation=AllDimensions&startPeriod=2016"
    response = requests.get(abs_url)
    data = response.json()
    list_year = [data["dataSets"][0]["observations"][f"0:0:0:0:0:0:0:{str(x)}"][0] for x in range(0,13)]
    building_dict["building_approval"].append(sum(list_year))
    building_dict["SA2 Name"].append(sa2_perth_df.loc[sa2_perth_df["SA2_MAINCODE_2016"]==code,"SA2_NAME_2016"].values[0])

In [30]:
building_df = pd.DataFrame(building_dict)

In [32]:
building_df.to_csv("resources/building_approval.csv")

Population

In [39]:
population_dict = {"SA2 Name":[],"2011_entire":[],"2016_entire":[],"2011_aus":[],"2016_aus":[]}

for code in sa2_perth_df["SA2_MAINCODE_2016"]:
    url_2011 = f"http://stat.data.abs.gov.au/sdmx-json/data/ABS_CENSUS2011_T08/3.TOT+1101.5.SA2.{code}.A/all?detail=Full&dimensionAtObservation=AllDimensions&startPeriod=2011"
    url_2016 = f"http://stat.data.abs.gov.au/sdmx-json/data/ABS_C16_T06_SA/3.TOT+1101.5.SA2.{code}/all?detail=Full&dimensionAtObservation=AllDimensions"
    try:
        response2011 = requests.get(url_2011)
        data2011 = response2011.json()
        response2016 = requests.get(url_2016)
        data2016 = response2016.json()
        population_dict["2011_entire"].append(data2011["dataSets"][0]["observations"]["0:0:0:0:0:0:0"][0])
        population_dict["2011_aus"].append(data2011["dataSets"][0]["observations"]["0:1:0:0:0:0:0"][0])
        population_dict["2016_entire"].append(data2016["dataSets"][0]["observations"]["0:0:0:0:0:0"][0])
        population_dict["2016_aus"].append(data2016["dataSets"][0]["observations"]["0:1:0:0:0:0"][0])    
        population_dict["SA2 Name"].append(sa2_perth_df.loc[sa2_perth_df["SA2_MAINCODE_2016"]==code,"SA2_NAME_2016"].values[0])
    except:
        print(f'{sa2_perth_df.loc[sa2_perth_df["SA2_MAINCODE_2016"]==code,"SA2_NAME_2016"].values[0]} has no available data')

Alkimos - Eglinton has no available data
Carabooda - Pinjar has no available data
Two Rocks has no available data
Yanchep has no available data
Beeliar - Wattleup has no available data
Jandakot has no available data
Casuarina - Wandi has no available data

In [44]:
population_df = pd.DataFrame(population_dict)

In [45]:
population_df["2016-2011_change_entire"] = population_df.iloc[:,2] - population_df.iloc[:,1]

In [46]:
population_df["2016-2011_change_aus"] = population_df.iloc[:,4] - population_df.iloc[:,3]

In [48]:
population_df["2011_overseas"] =population_df.iloc[:,1] - population_df.iloc[:,3]
population_df["2016_overseas"] =population_df.iloc[:,2] - population_df.iloc[:,4]

In [50]:
population_df["2016-2011_change_overseas"] = population_df.iloc[:,8] - population_df.iloc[:,7]

In [52]:
population_df["2011_overseas_percentage"] = population_df.iloc[:,7] / population_df.iloc[:,1]

population_df["2016_overseas_percentage"] = population_df.iloc[:,8] / population_df.iloc[:,2]

population_df["2016-2011_overseas_increase_percentage"] = (population_df.iloc[:,8] / population_df.iloc[:,7]) - 1

In [53]:
population_df

,SA2 Name,2011_entire,2016_entire,2011_aus,2016_aus,2016-2011_change_entire,2016-2011_change_aus,2011_overseas,2016_overseas,2016-2011_change_overseas,2011_overseas_percentage,2016_overseas_percentage,2016-2011_overseas_increase_percentage
0,Dawesville - Bouvard,5277.0,7088.0,3714.0,4779.0,1811.0,1065.0,1563.0,2309.0,746.0,0.296191,0.325762,0.477287
1,Falcon - Wannanup,7028.0,8782.0,5036.0,6070.0,1754.0,1034.0,1992.0,2712.0,720.0,0.283438,0.308813,0.361446
2,Greenfields,9693.0,9855.0,7072.0,6940.0,162.0,-132.0,2621.0,2915.0,294.0,0.270401,0.295789,0.112171
3,Halls Head - Erskine,16264.0,18529.0,10879.0,11886.0,2265.0,1007.0,5385.0,6643.0,1258.0,0.331099,0.358519,0.233612
4,Mandurah,8558.0,9090.0,5631.0,5669.0,532.0,38.0,2927.0,3421.0,494.0,0.342019,0.376348,0.168773
...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,Rockingham Lakes,16.0,8.0,12.0,0.0,-8.0,-12.0,4.0,8.0,4.0,0.250000,1.000000,1.000000
162,Safety Bay - Shoalwater,10911.0,11508.0,6945.0,7278.0,597.0,333.0,3966.0,4230.0,264.0,0.363486,0.367570,0.066566
163,Singleton - Golden Bay - Secret Harbour,15141.0,19607.0,9487.0,12078.0,4466.0,2591.0,5654.0,7529.0,1875.0,0.373423,0.383996,0.331624
164,Waikiki,11654.0,12454.0,7408.0,7719.0,800.0,311.0,4246.0,4735.0,489.0,0.364338,0.380199,0.115167
165,Warnbro,10734.0,10701.0,7074.0,6780.0,-33.0,-294.0,3660.0,3921.0,261.0,0.340973,0.366414,0.071311

In [55]:
population_data_df = population_df.loc[population_df["2011_entire"] >100,:]

In [56]:
population_data_df

,SA2 Name,2011_entire,2016_entire,2011_aus,2016_aus,2016-2011_change_entire,2016-2011_change_aus,2011_overseas,2016_overseas,2016-2011_change_overseas,2011_overseas_percentage,2016_overseas_percentage,2016-2011_overseas_increase_percentage
0,Dawesville - Bouvard,5277.0,7088.0,3714.0,4779.0,1811.0,1065.0,1563.0,2309.0,746.0,0.296191,0.325762,0.477287
1,Falcon - Wannanup,7028.0,8782.0,5036.0,6070.0,1754.0,1034.0,1992.0,2712.0,720.0,0.283438,0.308813,0.361446
2,Greenfields,9693.0,9855.0,7072.0,6940.0,162.0,-132.0,2621.0,2915.0,294.0,0.270401,0.295789,0.112171
3,Halls Head - Erskine,16264.0,18529.0,10879.0,11886.0,2265.0,1007.0,5385.0,6643.0,1258.0,0.331099,0.358519,0.233612
4,Mandurah,8558.0,9090.0,5631.0,5669.0,532.0,38.0,2927.0,3421.0,494.0,0.342019,0.376348,0.168773
...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,Rockingham,14995.0,15435.0,8490.0,8315.0,440.0,-175.0,6505.0,7120.0,615.0,0.433811,0.461289,0.094543
162,Safety Bay - Shoalwater,10911.0,11508.0,6945.0,7278.0,597.0,333.0,3966.0,4230.0,264.0,0.363486,0.367570,0.066566
163,Singleton - Golden Bay - Secret Harbour,15141.0,19607.0,9487.0,12078.0,4466.0,2591.0,5654.0,7529.0,1875.0,0.373423,0.383996,0.331624
164,Waikiki,11654.0,12454.0,7408.0,7719.0,800.0,311.0,4246.0,4735.0,489.0,0.364338,0.380199,0.115167
165,Warnbro,10734.0,10701.0,7074.0,6780.0,-33.0,-294.0,3660.0,3921.0,261.0,0.340973,0.366414,0.071311

In [57]:
population_data_df.to_csv("resources/population.csv")